@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;  /* IMPORTANT: forces full-page height */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  color: #222;
}

html, body, #root {
  height: 100%;
    width: 100%;

  margin: 0;
  padding: 0;
}